a[href="https://www.youtube.com/"]
{
    color: red;
}

a[href="https://validator.w3.org/"]
{
    color: red;
}

ul+p{
    font-size: 24px;
}

.svg{
    fill: aqua;
    fill-opacity: 0.3;
    stroke: blueviolet;
    stroke-width: 3px;
}

.svg:hover{
    fill: red;
    fill-opacity: 0.7;
    stroke: hotpink;
}